@model IEnumerable<MVCSamp_FilmReview.Models.ClsFilm>

@{
    ViewBag.Title = "Index";
}

<h2>Film</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Director.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FilmName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GenreName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AverageScore)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Director.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FilmName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GenreName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReleaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AverageScore)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FilmId }) |
            @Html.ActionLink("Details", "Details", new { id=item.FilmId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FilmId })
        </td>
    </tr>
}

</table>
