@model IEnumerable<MVCSamp_FilmReview.Models.ClsFilm>

@{
    ViewBag.Title = "Films";
}

<h2>Available Films</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Director's Name
        </th>
        <th>
            Film
        </th>
        <th>
            Description
        </th>
        <th>
            Genre
        </th>
        <th>
            ReleaseDate
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.AverageScore)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Director.FirstName) @Html.DisplayFor(modelItem => item.Director.LastName)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.FilmName )*@
            @Html.ActionLink(item.FilmName,"Details", new { id = item.FilmId})
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GenreName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReleaseDate)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.AverageScore)
        </td>*@
        <td>
            @if(ViewBag.UserId != ""&&item.User != null)
            {

            if(ViewBag.UserId == "abc@gmail.com" || ViewBag.UserId == item.User.ToString())
            {
            @Html.ActionLink("Edit", "Edit", new { id=item.FilmId }) 
            @*@Html.ActionLink("Details", "Details", new { id=item.FilmId }) |*@
            <nbsp> | </nbsp>
            @Html.ActionLink("Delete", "Delete", new { id=item.FilmId })
            }
            }
        </td>
    </tr>
}

</table>
