@model MVCSamp_FilmReview.Models.AddActor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AddActor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Actor.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Actor.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Film.FilmName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Film.FilmName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AddActorId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
