@model IEnumerable<MVCSamp_FilmReview.Models.Actor>

@{
    ViewBag.Title = "Actors";
}

<h2>Available Actors of Film</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateofBirth)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateofBirth)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ActorId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ActorId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ActorId })
        </td>
    </tr>
}

</table>
