@model IEnumerable<MVCSamp_FilmReview.Models.Actor>

@{
    ViewBag.Title = "Actors";
}

<h2>Available Actors of Film</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        @*<th>
            First Name
        </th>
        <th>
            Surname
        </th>*@
        <th>
            Names of Actor
        </th>
        <th>
            Date of Birth
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>*@
        <td>
            @Html.ActionLink(item.FirstName,  "Details",  new { id = item.ActorId }) 
            @Html.ActionLink(item.Surname, "Details", new { id = item.ActorId })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateofBirth)
        </td>
        
        <td>
            @if(ViewBag.UserId != "" && item.User != null)
            {
                if (ViewBag.UserId == "abc@gmail.com" || ViewBag.UserId == item.User.ToString())
                {
                   @Html.ActionLink("Edit", "Edit", new { id = item.ActorId }) 
                   @* @Html.ActionLink("Details", "Details", new { id=item.ActorId }) |*@
                   <nbsp>|</nbsp>
                   @Html.ActionLink("Delete", "Delete", new { id = item.ActorId })
                }
            }
        </td>
    </tr>
}

</table>
